$colorprincipal: #0c0c0c;
$colorsecundario: #ffffff;
$colorfooter: black;

*{
    margin: 0;
    padding: 0;
}

html{
    font-size: 62.5%;
    font-family: 'Montserrat', sans-serif;
    background-color: $colorprincipal;
}

div{
    background-color: $colorprincipal;
}

.title{
    padding: 100px 0 10px 0;
    text-align: center;
    font-size: 6.3rem;
    font-weight: bold;
    color: $colorsecundario;
}

.subtitle{
    text-align: center;
    font-size: 2rem;
    padding: 20px;
    font-family: 'Poppins', sans-serif;
    color: $colorsecundario;
}

.header{
    text-align: center;
    font-size: 3.2rem;
    padding: 11rem 12rem;
    color: $colorsecundario;
}

.easy{
    padding: 20px;
    font-size: 2rem;
    text-align: center;
    color: $colorsecundario;
}

.section{
    margin: 0;
    padding: 0;
}

.arts-grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(29rem, 1fr));
    grid-gap: 1rem;
    width: 90%;
    max-width: 160rem;
    margin: 1.6rem auto;
    padding: 10rem 2rem 2rem 2rem;
    grid-template-rows: 1fr 0.01fr;
    grid-template-areas:
    "spinetta calamaro cerati pity charly"
    "spinettan calamaron ceratin pityn charlyn";
    p{
        padding: 2.5rem 0 0 0;
    }
}

.btsp{
    text-align: center;
    font-size: 1.6rem;
    color: $colorsecundario;
    text-decoration: none;
    grid-area: spinettan;
    margin: 0;
}
.btac{
    @extend .btsp;
    grid-area: calamaron;
}
.btgc{
    grid-area: ceratin;
    @extend .btsp;
}
.btpa{
    grid-area: pityn;
    @extend .btsp;
}
.btcg{
    grid-area: charlyn;
    @extend .btsp;
}

.article{
    height: 44rem;
    width: 29rem;
    img{
        max-width: 100%;
        &:hover{
            transform: scale(1.1);
            transition: 0.1s;
        }
    }
}

@mixin cuadros($br, $b){
    border-radius: $br;
    border: $b;
}

.cuadro1{
    background-color: #c9cba3;
    @include cuadros(5rem, 2px solid white)
}
.cuadro2{
    background-color: #ffe1a8;
    @include cuadros(5rem, 2px solid white)
}
.cuadro3{
    background-color: #e26d5c;
    @include cuadros(5rem, 2px solid white)}
.cuadro4{
    background-color: #723d46;
    @include cuadros(5rem, 2px solid white)}
.cuadro5{
    background-color: #472d30;
    @include cuadros(5rem, 2px solid white)}

.despedida{
    font-size: 2rem;
    text-align: center;
    padding: 7rem 9rem;
    background-color: $colorprincipal;
    color: $colorsecundario;
    margin: 0px;
}

footer{
    background-color: black;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    a{
        display: inline-block;
        margin-left: 10px;
        padding-bottom: 10px;
        color: $colorsecundario;
        text-decoration: none;
        font-size: 1.2rem;
    }
    p{
        color: $colorsecundario;
    }
    img{
        width: 20px;
    }
}

.bc{
    background-color: black;
}

.ig{
    padding-top: 1.5rem;
}

.copyfooter{
    font-family: 'Montserrat', sans-serif;
    padding-bottom: 20px;
    text-align: center;
}

.tituloarts{
    text-align: center;
    font-size: 7rem;
}

#tspinetta{
    color: #c9cba3;
}
#tcalamaro{
    color: #ffe1a8;
}
#tcerati{
    color: #e26d5c;
}
#tpity{
    color: #723d46;
}
#tcharly{
    color: #472d30;
}

.bibliografia{
    text-align: center;
    margin: 20rem 20rem;
    font-size: 2.5rem;
    color: $colorsecundario;
}

.index{
    margin: 20px;
    img{
        width: 70px;
        height: 40px;
        border-radius: 20px;
        position: fixed;
    }
}

.nav{
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    position: fixed;
    top: 20px;
    right: 20px;
    display: flex;
    flex-flow: column;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    text-align: center;
    li{
        margin-left: 10px;
    }
    li a{
        display: block;
        padding: 10px;
        border: 1px solid white;
        border-radius: 20px;
        text-decoration: none;
        color: black;
        margin-top: 10px;
    }
}

#spinetta{
    background-color: #c9cba3;
}
#calamaro{
    background-color: #ffe1a8;
}
#cerati{
    background-color: #e26d5c;
}
#pity{
    background-color: #723d46;
}
#charly{
    background-color: #472d30;
}

.albumesspt{
    height: 390px;
    width: 390px;
}

.alb1{
    display: flex;
    align-items: center;
    img{
        margin: 0 1rem 0 30rem;
        border: 2px solid white;
    }
    p{
        font-size: 25px;
        margin: 90px 300px 90px 40px;
        text-align: center;
        color: white;
    }
}

.reverse{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    img{
        margin: 0 30rem 0 1rem;
        border: 2px solid white;
    }
    p{
        font-size: 25px;
        margin: 9rem 4rem 9rem 30rem;
        text-align: center;
        color: $colorsecundario;
    }
}

@media only screen and (max-width: 468px) {
    .title{
        font-size: 4.4rem;
        padding: 70px 4.6rem 0 4.6rem;
    }
    
    .subtitle{
        font-size: 1.6rem;
    }
    
    .header{
        font-size: 1.6rem;
        padding: 2rem 1rem;
        text-align: justify;
    }

    .easy{
        font-size: 1.6rem;
        padding: 1rem 2rem;
    }

    .arts-grid{
        padding: 5rem 1rem;
        display: flex;
        height: 16rem;
        p{
            padding: 1rem 0 0 0;
            font-size: 1.2rem;
        }
    }
    
    .article{
        height: 25rem;
        width: 20rem;
    }
    
    .despedida{
        font-size: 1.8rem;
        padding: 1rem;
        text-align: justify;
    }
}

@media only screen and (max-width: 1600px){
    .title{
        font-size: 4.2rem;
    }

    .subtitle{
        font-size: 1.9rem;
    }

    .easy{
        font-size: 1.6rem;
    }

    .article{
        height: 45rem;
    }

    .arts-grid{
        display: flex;
        padding: 0;
        margin-bottom: 0;
        p{
            padding: 1rem 0 0 0;
        }
    }


    .despedida{
        padding: 2rem 4rem 3rem 4rem;            
    }

    .header{
        font-size: 2rem;
        padding: 2rem 4rem 2rem 4rem;
        margin: 0;
    }
}

@media only screen and (max-width: 1600px){
    .tituloarts{
        font-size: 5.5rem;
        padding: 8rem 0 0 0;
    }

    .bibliografia{
        font-size: 2rem;
        margin: 14rem 8rem;
    }

    .nav{
        top: 0;
        right: 0;
        flex-flow: wrap;
        padding: 0;
        margin: 0;
    }

    .albumesspt{
        height: 28rem;
        width: 28rem;
    }

    .alb1{
        padding: 1rem;
        img{
            margin: 0 1rem 0 10rem;
        }
        p{
            margin: 0 8rem 0 4rem;
            font-size: 2rem;
        }
    }

    .reverse{
        padding: 1rem;
        img{
            margin: 0 10rem 0 1rem;
        }
        p{
            margin: 0 4rem 0 8rem;
            font-size: 2rem;
        }
    }
    
}
@media only screen and (max-width: 948px){
    .index img{
        width: 5rem;
        height: 3rem;
    }

    .nav{
        top: 0;
        right: 0;
        flex-flow: wrap;
        padding: 0;
        margin: 0;
    }

    .tituloarts{
        font-size: 3.9rem;
        padding: 7rem 0 0 0;
    }

    .bibliografia{
        font-size: 1.6rem;
        margin: 6rem 2.9rem;
        text-align: justify;
    }
    
    .alb1{
        display: flex;
        flex-direction: column;
        align-items: center;
        img{
            margin: 0 2rem 0 2rem;
        }
        p{
            font-size: 1.6rem;
            padding: 0;
            margin: 2rem 2.9rem;
        }
    }

    .reverse{
        display: flex;
        flex-flow: column;
        img{
            margin: 0 2rem 0 2rem;
        }
        p{
            font-size: 1.6rem;
            padding: 0;
            margin: 2rem 2.9rem;
        }
    }

    .albumesspt{
        height: 20rem;
        width: 20rem;
        border: 1px solid white;
        flex-direction: column;
    }
}